:root {
    --color-main: #434455;
    --color-link: #4D5AE5;
    --color-fff: #FFFFFF;
    --color-a: #2E2F42;
    --color-logo-footer: #F4F4FD;
    --color-addres: #434455;
    --color-p-footer: #E7E9FC;
    --color-button-portfolio: rgba(0, 0, 0, 0.1);
    --color-button-portfolio-one: rgba(0, 0, 0, 0.08);
    --color-button-portfolio-two: rgba(0, 0, 0, 0.12);
    --color-button-rgba: rgba(0, 0, 0, 0.15);
    --color-button-ind: rgba(46, 47, 66, 0.08);
    --color-button-inde: rgba(46, 47, 66, 0.16);
    --color-active: #404BBF;
    --color-team: #F4F4FD;
    --color-gradient: rgba(46, 47, 66, 0.7);
    --color-border: #8E8F99;
    --color-backgraund-footer: rgba(255, 255, 255, 0.1);
    --color-hover-footer: #31D0AA;
    --color-backgraund-all: rgba(46, 47, 66, 0.4);
    --color-backdrop-text: #757575;
    --color-backdrop-input: rgba(33, 33, 33, 0.2);
    --color-footer-subscribe: rgba(255, 255, 255, 0.3);
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-main);
}

@media screen and (min-width: 300px) {
    body {
        width: 480px;
        margin: auto;
    }
}

@media screen and (min-width: 768px) {
    body {
        width: 768px;
        margin: auto;
    }
}

@media screen and (min-width: 1200px) {
    body {
        width: 1440px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

.body-text {
    color: var(--color-main);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: 0;
    width: 100%;
}

.ul {
    list-style-type: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-link);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: 16px;
}

.logo span {
    color: var(--color-a);
}

/* navigation */

.ul-nav {
    display: flex;
    list-style-type: none;

    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 123px;
}

.ul .li-nav:not(:last-child) {
    margin-right: 40px;
}

.link-nav {
    position: relative;
    font-weight: 600;
    color: var(--color-a);
    padding-bottom: 24px;
    padding-top: 24px;
    text-decoration: none;
}

.link-nav:hover {
    color: var(--color-addres);
}

.link-nav:focus {
    color: var(--color-link);
}

.link-nav:active {
    color: var(--color-link)
}

.ul-addres {
    padding-left: 0;
    margin-left: auto;
    display: flex;
    list-style-type: none;
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
    .ul-addres {
        flex-direction: column;
    }
}

@media screen and (min-width: 1200px) {
    .ul .li-addres:not(:last-child) {
        margin-right: 40px;
    }
}

.link-contacts {
    font-weight: 400;
    text-decoration: none;
    color: var(--color-addres);
}

.link-contacts:hover,
.link-contacts:focus {
    color: var(--color-link);
}

/* navigation */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;

    display: block;
    margin: 0 auto;

    width: 170px;
    height: 51px;
    background: var(--color-link);
    box-shadow: 0px 4px 4px var(--color-button-rgba);
    border-radius: 4px;
    color: var(--color-fff);
    border: 1px solid var(--color-link);

    transition-property: background-color, border;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav {
    display: flex;
    align-items: center;

    height: 70px;

    border-bottom: 1px solid var(--color-p-footer);
    box-shadow:
    0px 2px 1px var(--color-button-ind),
    0px 1px 1px var(--color-button-inde),
    0px 1px 6px var(--color-button-ind);
}

@media screen and (min-width: 300px) {
    .li-advantages:nth-child(-n+3) {
        padding-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
    .li-advantages {
        width: 356px;
    }
}

@media screen and (min-width: 768px) {
    .li-advantages:nth-child(-n+3){
        padding-bottom: 0;
    }

    .li-advantages:nth-child(-n+2) {
        padding-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
    .ul-advantages {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) {
    .ul-advantages {
        display: flex;
        flex-wrap: nowrap;
    }
}

.div-main {
    align-items: center;
    position: relative;
    background-color: var(--color-a);
    margin-left: auto;
    margin-right: auto;
    padding-top: 112px;
    padding-bottom: 112px;

    background-image: linear-gradient(var(--color-gradient),
    var(--color-gradient)),
    url(../img/img-main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.capital-letter {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700; 
    margin: 0 auto;
    padding-bottom: 72px;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-fff)
}

@media screen and (min-width: 300px) {
    .div-main {
        max-width: 428px;
    }
}

@media screen and (min-width: 768px) {
    .div-main {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .div-main {
        max-width: 1440px;
    }
}

/* section-advantage */

@media screen and (min-width: 300px) {
    .div-advantage {
        /* width: 480px; */
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

@media screen and (min-width: 768px) {
    .div-advantage {
        /* width: 768px; */
        padding-top: 96px;
        padding-bottom: 96px;  
    }
}

@media screen and (min-width: 1200px) {
    .div-advantage {
        /* width: 1440px; */
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.text-h-three {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    padding-bottom: 8px;
}

@media screen and (max-width: 768px) {
    .text-h-three {
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .text-h-three {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;

        padding-top: 8px;
    }
}

/* svg-advantage */

@media screen and (min-width: 300px) {
    .div-svg-advantage {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media screen and (min-width: 1200px) {
    .div-svg-advantage {
        opacity: 1;
        position: relative;
    }

    .div-svg-advantage {
        width: 264px;
        height: 112px;
    
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: var(--color-logo-footer);
    }
}

/* svg-advantage */

/* section-advantage */

.container {
    /* width: 428px; */
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

@media not screen and (min-width: 1200px) {
    .div-doing {
        opacity: 0;
        position: absolute;
        top: -1000px;
        right: -1000px;
    }
}

.section-team {
    background-color: var(--color-team);
    padding-top: 96px;
    padding-bottom: 128px;
}

@media screen and (min-width: 768px) {
    .section-team {
        /* width: 768px; */
        padding-bottom: 104px;
    }
}

@media screen and (min-width: 1200px) {
    .section-team {
        /* width: 1440px; */
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

/* section-doing */

@media screen and (min-width: 1200px) {
    .div-doing {
        padding-bottom: 120px;
    }

    .text-h-two {
        font-weight: 600;
        line-height: 1.11;
        font-size: 36px;
        text-align: center;
        margin-bottom: 72px;
        color: var(--color-a)
    }

    .ul-imeges {
        display: flex;
    }

    .li-imeges:not(:last-child) {
        margin-right: 24px;
    }


}

/* section-doing */


/* section-team */

.text-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
    color: var(--color-a);
}

.ul-photos-hero {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 767.9px) {
    .ul-photos-hero {
        width: 264px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
    .ul-photos-hero {
        margin-right: 93px;
        margin-left: 93px;
    }
}

.li-photos-hero {
    width: 264px;
    margin-right: 0;
    margin-left: 0;
    box-shadow: 0px 1px 6px var(--color-button-ind),
    0px 1px 1px var(--color-button-inde),
    0px 2px 1px var(--color-button-ind);
}

@media screen and (min-width: 768px) {
    .ul-photos-hero {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) {
    .ul-photos-hero {
        display: flex;
        flex-wrap: nowrap;
    }
}

@media not screen and (min-width: 768px) {
    .li-photos-hero:nth-child(-n+3) {
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
    .li-photos-hero:nth-child(-n+2) {
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 1200px) {
    .li-photos-hero {
        margin-bottom: 0;
        margin-left: 20px;
    }
}

.div-text-hero {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--color-fff);
}

.team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-a)
}

.team-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.svg-team {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.li-svg-team {
    width: 40px;
    height: 40px;
}

.li-svg-team:not(:last-child) {
    margin-right: 24px;
}

.div-svg-team {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-link);
}

.svg-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.svg-mesengers {
    fill: var(--color-logo-footer);
}

/* section-team */

/* section-customers */

@media screen and (min-width: 300px) {
    .customers {
        /* width: 480px; */
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

@media screen and (min-width: 1200px) {
    .customers {
        /* width: 1440px; */
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.customers-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.03em;
    color: var(--color-a);
    text-align: center;
    padding-bottom: 72px;
}

.ul-customers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
    .ul-customers {
        margin-right: 93px;
        margin-left: 93px;
    }
}

@media screen and (min-width: 768px) {
    .ul-customers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) {
    .ul-customers {
        display: flex;
        flex-wrap: nowrap;
    }
}

.div-svg-customers {
    width: 190px;
    height: 88px;

    border: 1px solid var(--color-border);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .div-svg-customers {
        width: 168px;
    }
}

@media screen and (min-width: 300px) {
    .div-svg-customers:nth-child(-n+4) {
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
    .div-svg-customers:nth-child(-n+4) {
        margin-bottom: 0px;
    }

    .div-svg-customers:nth-child(-n+3) {
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 1200px) {
    .div-svg-customers:nth-child(-n+4) {
        margin-bottom: 0px;
    }
}

.div-svg-customers:hover {
    border: 1px solid var(--color-link);
    color: var(--color-link);
}

/* @media screen and (min-width: 360px) {
    .li-customers:nth-child(-n + 4) {
        padding-bottom: 72px;
    }
} */

.link-customers {
    color: var(--color-border);
}

.link-customers:focus { 
    color: var(--color-link); 
}

.svg-customers {
    fill: currentColor; 

    width: 100%;
    height: 100%;

    padding-top: 16px;
    padding-bottom: 16px;

    display: block;
    fill: var(--color-link);
    fill: var(--color-border);

    transition-property: fill;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-customers:hover {
    fill: var(--color-link);
}

/* section-customers */

/* section-footer */

.div-footer {
    padding-top: 96px;
    padding-bottom: 96px;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    padding: 0;
    /* margin-bottom: 16px; */
    display: block;
    text-transform: uppercase;
    color: var(--color-link);
    text-decoration: none;
    text-align: center;
}

.logo-footer span {
    color: var(--color-logo-footer);
}

.white {
    width: 268px;
    
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 72px;

    color: var(--color-p-footer);
}

@media screen and (min-width: 768px) {
    .white {
        width: 264px;
        padding-bottom: 0;
    }
}

.h2-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;

    text-align: center;

    color: var(--color-fff);
}

.footer {
    background: var(--color-a);
}

.div-footer-mesenger {
    flex-direction: column;
    display: flex;
}

@media screen and (min-width: 768px) {
    .div-footer-mesenger {
        margin-left: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .div-footer-mesenger {
        margin-left: 120px;
        margin-right: 80px;
    }
}

.ul-media-team {
    display: flex;

    margin: 0 auto;

    color:var(--color-fff);
}

.li-media-team {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.li-media-team:not(:last-child) {
    margin-right: 16px;
}

.div-svg-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-backgraund-footer);

    transition-property: background-color;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.div-svg-footer:hover {
    background-color: var(--color-hover-footer);
}

.div-svg-footer:focus {
    background-color: var(--color-hover-footer);
}

.svg-link-footer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.p-subscribe {
    padding-top: 72px;
    padding-bottom: 16px;

    text-align: center;

    color: var(--color-fff);
}

@media screen and (min-width:1200px) {
    .p-subscribe {
        padding-top: 0;
    }
}

/* .div-footer-menu {
    margin-left: 80px;
} */

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-subscribe {
    width: 165px;
    height: 40px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;

    background: var(--color-link);
    color: var(--color-fff);
    fill: var(--color-fff);
    border-radius: 4px;
    border: 1px solid var(--color-link);

    transition-property: background-color, border;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-footer {
    width: 396px;
    height: 40px;
    border-radius: 4px;

    margin-bottom: 16px;

    border: 1px solid var(--color-footer-subscribe);
    background-color: initial;
    color: var(--color-fff);
}

.input-footer:focus,
.input-footer:hover {
    outline: 1px solid var(--color-link);
}

@media screen and (min-width: 768px) {
    .input-footer {
        width: 264px;
        margin-right: 24px;
    }
}

.button-subscribe {
    width: 165px;
    height: 40px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;

    background: var(--color-link);
    color: var(--color-fff);
    fill: var(--color-fff);
    border-radius: 4px;
    border: 1px solid var(--color-link);

    transition-property: background-color, border;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus {
    border: 1px solid var(--color-active);
    background: var(--color-active);
    color: var(--color-fff);
}

@media screen and (min-width: 768px) {
    .div-footer-all {
        display: flex;
        flex-wrap: wrap;

        margin-left: 93px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .h-all-footer {
        text-align: start;
    }
}

/* section-footer */

/* backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-backgraund-all);
}

.is-hidden {
    position: absolute;

    visibility: collapse;
    pointer-events: all;
    opacity: 0;
}

.modal {
    position: absolute;
    width: 408px;
    padding: 24px;
    left: 50%;
    transform: translateX(-50%);
    
    border-radius: 4px;
    background-color: var(--color-fff);
}

@media screen and (min-width: 300px) {
    .modal {
        top: 96px;
    }
}

@media screen and (min-width: 1200px) {
    .modal {
        top: 80px;
    }
}

.button-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-p-footer);
    border: 1px solid var(--color-button-portfolio);

    transition-property: background-color;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
    fill: var(--color-fff);
    background-color: var(--color-active);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-backgraund-all);
}

.current-page::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0;
    background-color: var(--color-active);
    border-radius: 2px;
}

.backdrop-menu {
    width: 360px;
}

.input {
    height: 40px;
}

.form-comment {
    resize: none;
    height: 120px;
    padding-left: 16px;

    width: 100%;

    border-radius: 4px;
    border: 1px solid var(--color-backdrop-input);
}

.form-comment:focus,
.form-comment:hover {
    outline: 1px solid var(--color-link);
}

.policy {
    color: var(--color-link);
}

.checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;

    padding: 0;
    margin-left: 20px;

    color: var(--color-backdrop-text);
}

.main-text-backdrop {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    margin-bottom: 34px;
    margin-top: 48px;
    text-align: center;

    color: var(--color-a);
}

.form-field {
    position: relative;
}

.backdrop-menu .form-field:not(:last-child) {
    margin-bottom: 26px;
}

.form-label {
    position: absolute;
    top: -18px;
    left: 0;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;

    color: var(--color-border);
}

.form-input {
    width: 100%;

    padding-left: 40px;

    border-radius: 4px;
    border: 1px solid var(--color-backdrop-input);
}

.form-input:focus,
.form-input:hover {
    outline: 1px solid var(--color-link);
}

.button-backdrop {
    width: 170px;
    height: 60px;

    display: block;
    margin: 0 auto;
    cursor: pointer;

    color: var(--color-fff);
    background-color: var(--color-link);
    box-shadow: 0px 4px 4px var(--color-button-rgba);
    border-radius: 4px;
    border: 1px solid var(--color-link);

    transition-property: background-color, border;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-backdrop:hover,
.button-backdrop:focus {
    background: var(--color-active);
    color: var(--color-fff);
    border: 1px solid var(--color-link);
}

.button-backdrop:hover {
    box-shadow: 0px 1px 6px var(--color-button-ind),
    0px 1px 1px var(--color-button-inde),
    0px 2px 1px var(--color-button-index);
}

.svg-backdrop {
    position: absolute;
    top: 8px;
    left: 10px;

    fill: var(--color-a);
}

.form-input:focus ~ .svg-backdrop {
    fill: var(--color-link);
}

.form-input:hover ~ .svg-backdrop {
    fill: var(--color-link);
}

.input-checkbox {
    appearance: none;
}

.checkbox::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    left: 0;
    border-radius: 2px;
    border: 1.25px solid var(--color-a);
}

.input-checkbox:checked ~ .checkbox::after {
    background-color: var(--color-active);
    background-image: url('../img/castom-checkbox.svg');
    background-size: contain;
    background-origin: border-box;
    border: transparent;
}

/* backdrop */

/* portfolio */

.div-main-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.ul-portfolio-job {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .ul-portfolio-job {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) {
    .ul-portfolio-job {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1200px) {
    .li-portfolio-job:nth-child(-n+6) {
        padding-bottom: 48px;
    }
}

@media screen and (min-width: 300px) {
    .li-portfolio-job {
        width: 396px;
    }
}

@media screen and (min-width: 768px) {
    .li-portfolio-job {
        width: 356px;
    }
}

@media screen and (min-width: 1200px) {
    .li-portfolio-job {
        width: 360px;
        flex-basis: calc((100% - 48px) / 3);
    }
}

@media screen and (min-width: 300px) and (max-width: 767.9px) {
    .li-portfolio-job {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
    .li-portfolio-job:nth-child(-n+8) {
        padding-bottom: 72px;
    }
}

@media screen and (min-width: 1200px) {
    .li-portfolio-job {
        flex-basis: calc((100% - 48px) / 3);
    }
}

.portfolio-a {
    text-decoration: none;
}

.portfolio-a:hover {
    display: block;
    box-shadow: 0px 1px 6px var(--color-button-ind),
    0px 1px 1px var(--color-button-inde),
    0px 2px 1px var(--color-button-ind);
}

.p-overlay-text {
    width: 296px;
    height: 96px;
    top: 340px;
    left: 32px;
    position: absolute;
    opacity: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-logo-footer);
    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-images {
    position: relative;
    overflow: hidden;

    transition-property: backgraund-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-a:hover .p-overlay-text {
    opacity: 1;
    transform: translateY(-300px);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-a:hover .main-images::before {
    opacity: 1;
    transform: translateY(-100%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-images::before {
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: var(--color-link);
    opacity: 0;

    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.div-portfolio-job {
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    box-sizing: border-box;
    border-left: 0.5px solid var(--color-team);
    border-right: 0.5px solid var(--color-team);
    border-bottom: 0.5px solid var(--color-team);
}

.text-section-job {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--color-a);
}

.ul-portfolio-main {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    margin-bottom: 72px;
    padding-left: 0;
}

@media screen and (min-width: 768px) {
    .ul-portfolio-main {
        /* display: flex; */
        justify-content: center;
    }
}

@media screen and (min-width: 300px) and (max-width: 767.9px) {
    .li-portfolio-main:nth-child(n-4) {
        margin-right: 35px;
    }

    .li-portfolio-main:nth-child(-n+3) {
        margin-right: 35px;
        padding-bottom: 24px;
    }
}

@media screen and (min-width: 768px) {
    .li-portfolio-main:not(:last-child) {
        margin-right: 24px;
    }
}

/* .li-portfolio-main:not(:last-child) {
    margin-right: 24px;
} */

.button-portfolio {
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 3px 1px var(--color-button-portfolio),
    0px 2px 1px var(--color-button-portfolio-one),
    0px 2px 2px var(--color-button-portfolio-two);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    background: var(--color-logo-footer);
    color: var(--color-link);

    transition-property: background-color;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
    background: var(--color-link);
    color: var(--color-fff);
}

/* portfolio */

/* mobile menu */

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 32px;
    background-color: var(--color-fff);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

@media screen and (max-width: 767.9px) {
    .div-button-mobile-menu {
        position: relative;
        margin-left: auto;
    }
}

@media screen and (min-width: 768px) {
    .div-button-mobile-menu {
        position: absolute;
        top: -10px;
        left: -10px;
        opacity: 0;
    }
}

@media screen and (max-width: 767.9px) {
    .ul-addres {
        position: absolute;
        top: -30px;
        left: -30px;
        opacity: 0;
    }
}

@media screen and (max-width: 767.9px) {
    .ul-nav {
        position: absolute;
        top: -30px;
        left: -30px;
        opacity: 0;
    }
}

/* хз чи треба */

.page-header {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.page-header .container {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width: 767px) {
    .menu {
    display: none;
    }
}

/* хз чи треба */

.number {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;

    padding-bottom: 40px;
}

.ul-mobile-menu {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;

    
}

.div-link-menu {
    padding-top: 40px;
    padding-bottom: 284px;
}

.mobile-menu-a {
    text-decoration: none;
    color: var(--color-a);
}

.li-mobile-menu:not(:last-child) {
    padding-bottom: 40px;
}

.mobile-menu-a:hover,
.mobile-menu-a:focus {
    color: var(--color-active);

    transition-property: background-color, border;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts {
    padding-bottom: 48px;
}

/* mobile-menu */